/target
src/assimp
src/shaders/_triangle_frag.spv
src/shaders/_triangle_vert.spv
.VSCodeCounter/
*.spv

.vscode/launch.json
.idea/
/src/models/gltf_test_models
/src/models/sponza
/src/models/sponza2
/src/models/battle
/src/models/AdamHead
/src/videos
/ffmpeg
/tracy
imgui.ini
/msdf/

/src/msdf/*.png
/src/msdf/*.json
/src/msdf/*.txt
/src/msdf/*.bat
/src/msdf/*.exe
/src/msdf/*.dll
/*.def
/*.dll
/*.lib
/*.exe
/*.a
/src/wffmpeg/
/src/recs/frames/
/src/recs/*.mp4
*.exr
*.hdr

